<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Blend Songbook</title>
    <style>
        ul {
            list-style: none;
            padding: 0px;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="banner">
        <h2>Personal Blend Songbook</h2>
    </div>
    <div class="song-list-container">
        <ul class="song-list">
            {% for song in song_list %}
            <li>
                <button><a href={{"html/" + song + ".html"}}>{{song|replace("_", " ")|title}}</a></button>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</body>

</html>