<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Blend Songbook</title>
    <style>
        ul {
            list-style: none;
            padding: 0px;
            width: 100%;
        }
        button {
            padding: 10px;
            margin: 5px;
            min-width: 150px;
        }
        .general-info p {
            margin: 1px;
        }

        .song-list li {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="banner">
        <h2>Personal Blend Songbook</h2>
        <details class="general-info">
            <summary>General Info</summary>
            <p>G == G Major</p>
            <p>g == g Minor</p>
            <p>. means continue last chord</p>
        </details>
    </div>
    <div class="song-list-container">
        <ul class="song-list">
            {% for song in song_list %}
            <li>
                <button><a href={{"html/" + song + ".html"}}>{{song|replace("_", " ")|title}}</a></button>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</body>

</html>